*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image:linear-gradient(to top, rgb(0, 0, 0), rgb(10, 15, 39));
    color: white;
}

.top{
    height: 130px;
    background-image:linear-gradient(to right, rgb(13, 13, 13), transparent);
    margin-bottom:100px;
}

ul{
    list-style-type: none;
    display: flex;
    padding-top: 50px;
    font-size: 18px;
    margin-left: 10px;
}

ul li{
    margin-left: 85px;
    transition:all .5s;
  }

ul li:hover { 
    transform: scale(1.05);
    transition-duration: .5s; 
}

a:visited, a:link {
    color: white;;
    text-decoration: none;
}

.about, .contact{
    margin-top: 11px;
    color: white;
    border:solid;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:25px;
    border-color:transparent;
    transition:all .5s;
}

.contact:hover{
    padding-top:10px;
    padding-bottom:10px;
    border-radius:25px;
    border-color:rgb(255, 255, 255);
    transition-duration: .2s; 
}

.about:hover{
    padding-top:10px;
    padding-bottom:10px;
    border-radius:25px;
    border-color:rgb(255, 255, 255);
    transition-duration: .2s; 
}

.signup{
    margin-top:25px;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:10px;
    border:solid;
    border-radius:25px;
    border-color: white;
    background-color: transparent;
    transition:all .5s;
    margin-left:580px;
}

.signup:hover{
    border:solid;
    border-radius:25px;
    border-color: transparent;
    background-color: black;
}

/* Header */

.contactheader{
    font-size: 65px;
    text-align: center;
}

/* Content */

.chatting{
    padding-left: 40px;
    margin-left:411px;
}

.inputinfo input[type=text]{
    width:600px;
    height:38px;
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    color: white;
    margin-bottom:25px;
    margin-top:10px;
}

.messageinput input[type=text]{
    height:200px;
    width:600px;
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    color:white;
    margin-bottom:30px;
    margin-top:10px;
  }

  .buttonsend{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    border-radius: 30px;
    border-color: transparent;
    font-size:18px;
    margin-bottom:150px;
    transition:all .2s;
  }

  .buttonsend:hover{
    border-color:white;
    background-color:transparent;
    color:white;
    transition-duration: .2s;
  }

  .buttonsend:active{
    border-color:transparent;
    color: black;
  }

  .check1{
    margin-bottom:35px;
  }

/* Footer */

.footex{
    color:rgb(218, 218, 218);
    background-color: rgb(13, 13, 13);
    text-align: center;
    padding-top: 50px;
    padding-bottom:50px;
}
